<header><h1 class="titlename">Twiapp</h1></header>
<div id="auth"></div>
<script src = "http://code.jquery.com/jquery-2.1.4.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.min.js"></script>
<script src="https://fb.me/react-0.14.3.js"></script>
<script src="https://fb.me/react-dom-0.14.3.js"></script>
<script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
<script type="text/jsx" src="/js/auth.js"></script>