<html>
<head>
   <meta charset="utf-8">
   <title>Notesapp</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{yield}}
</body>

</html>